blinker
cachetools
certifi
charset-normalizer
click
Flask
google-api-core
google-auth
google-cloud-core
google-cloud-firestore
google-cloud-speech
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
gunicorn
idna
itsdangerous
Jinja2
lxml
MarkupSafe
packaging
proto-plus
protobuf
pyasn1
pyasn1-modules
pydub
python-docx
requests
rsa
typing_extensions
urllib3
Werkzeug
